body {
    background-color: #00a86b;
    /* Verde para representar saúde */
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

th {
    color: #00a86b;
    /* Verde */
}

h1 {
    color: #fff;
    /* Texto branco */
}

table,
a {
    margin: 0 auto;
    border-radius: 20px;
    background-color: #fff;
    /* Fundo branco */
    color: #00a86b;
    /* Verde */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    width: 40%;
}

table,
th,
td {
    padding: 15px;
}
table{
 align-content: center;
 margin-top: 5%;
 margin-left: 30%;
}

.table-menu{
    align-content: center;
    margin-bottom: 5%;
    margin-left: 0%;
   }


input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    height: 20px;
    padding: 10px;
    background: #fff;
    border: 1px solid #00a86b;
    /* Verde */
    color: #000;
    margin: 10px 0;
    border-radius: 25px;
}

.menu-button {
    display: inline-block;
    width: 80%;
    height: 50px;
    background-color: #00a86b;
    /* Verde */
    color: #fff;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.button-container, ::placeholder {
    text-align: center;
}

.column {
    align-content: center;
    display: inline-block;
    margin: 0 10px;
}

.third-column {
    align-content: center;
    margin-top: 20px;
    text-align: center;
}

.account-button {
    width: 180px;
    height: 40px;
    background-color: #00a86b;
    /* Verde */
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.account-button2 {
    display: inline-block;
    width: 40.5%;
    height: 40px;
    background-color: #fff;
    color: #00a86b;
    /* Verde */
    text-align: center;
    line-height: 42px;
    text-decoration: none;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.menu-button2 {
    display: inline-block;
    width: 40.5%;
    height: 40px;
    background-color: #fff;
    color: #00a86b;
    /* Verde */
    text-align: center;
    font-size: 90%;
    line-height: 42px;
    text-decoration: none;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.invalid-cpf {
    border: 2px solid red;
    color: red;
}

/* ... (seu código CSS anterior) ... */

.menu-button:hover,
.menu-button:focus {
    background-color: #009960;
    /* Cor alterada no hover */
    transition: background-color 0.3s;
}

.account-button:hover,
.account-button:focus {
    background-color: #009960;
    /* Cor alterada no hover */
    transition: background-color 0.3s;
}

.account-button2:hover,
.account-button2:focus {
    background-color: #00a86b;
    /* Cor alterada no hover */
    color: #fff;
    /* Texto fica branco no hover */
    transition: background-color 0.3s, color 0.3s;
}

.menu-button2:hover,
.menu-button2:focus {
    background-color: #00a86b;
    /* Cor alterada no hover */
    color: #fff;
    /* Texto fica branco no hover */
    transition: background-color 0.3s, color 0.3s;
}

/* ... (seu código CSS posterior) ... */